@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	text-align: center;
	padding: 50px;
}

.login-container {
	background: white;
	padding: 20px;
	border-radius: 5px;
	width: 300px;
	margin: auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.dashboard-container {
	width: 100%;
	/* background-color: blueviolet; */
}

input {
	display: block;
	width: 90%;
	padding: 10px;
	margin: 10px auto;
	border: 1px solid #ccc;
	border-radius: 3px;
}

button {
	background-color: #5cb85c;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.error {
	color: red;
}

li {
	list-style-type: none;
}
.general {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

/* side nav bar */
.sidenav {
	float: left;
	width: 250px;
	height: 100%;
	background-color: rgb(235, 243, 242);
	border-right: 2px solid;
}
/* navigation */
.nav-header {
	display: flex;
	width: 100%;
	background-color: #5cb85c;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px 0 10px;
	margin-bottom: 50px;
}

/* Dropdown Button */
.dropbtn {
	background-color: #3498db;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 100%;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: #2980b9;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}
.show {
	display: block;
}

/* events */
.event {
	/* display: flex; */
	flex-direction: column;
	border: 1px solid #ddd;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 8px;
}

.event img {
	width: 100%;
	max-height: 200px;
	object-fit: cover;
	border-radius: 8px;
}

.event h2 {
	margin: 10px 0;
}

.event p {
	margin: 5px 0;
}

.event a {
	color: blue;
	text-decoration: none;
}

/* events pagination */
.pagination {
	margin-top: 20px;
	text-align: center;
}

.pagination a {
	padding: 10px 15px;
	margin: 5px;
	text-decoration: none;
	color: white;
	background-color: blue;
	border-radius: 5px;
}

.pagination a.disabled {
	background-color: gray;
	pointer-events: none;
}

/* events */
.event-creator {
	display: flex;
	flex-direction: column;
}
.event-creator-form {
	width: 50%;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.event-creator-form input[type='button'] {
	background-color: #3498db;
	text-transform: uppercase;
	border: transparent solid;
	border-radius: 10px;
	width: 50%;
	cursor: pointer;
}

.event-creator-form textarea {
	border-radius: 5px;
	width: 95%;
	/* margin: 5px -15px 5px 20px; */
}
.hide-event-section {
	display: none;
}
.delete-btn{
	cursor: pointer;
	/* margin: auto 0; */
	

}